h1 {
    display: flex;
    margin-top: 20vh;
    margin-bottom: 2rem;
    justify-content: center;
}

div {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

button {
    margin-right: 5px;
}

p {
    display: flex;
    justify-content: center;
}


.buttonOne {
    background-color: #D9D97B;
}

.buttonTwo {
    background-color: #CD8853;
}

.buttonThree {
    background-color: #D87E74;
}

.buttonFour {
    background-color: #E5949A;
}

.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    justify-content: center;
}

.start {
    background-color: #8FD368;
    color: darkslategrey;
}

.running {
    background-color: rgb(182, 174, 174);
    color: white;
}

.active {
    background-color: whitesmoke;
}
